<footer class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5 class="fw-bold">TOPDev</h5>
                <p>
                    TC-312 Đại học Bách khoa Hà Nội<br>
                    Hai Bà Trưng, Thành phố Hà Nội<br>
                    Liên hệ: 028 1234 5678 - contact@it203.vn
                </p>
                <img src="/images/logo_bocongthuong.jpgx" alt="Chứng nhận bởi Bộ Công Thương" class="img-fluid">
            </div>
            <div class="col-md-2 mb-4">
                <h5 class="fw-bold">Về TopDev</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Về chúng tôi</a></li>
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Liên hệ</a></li>
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Thảo thuận sử dụng</a></li>
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Cơ hội việc làm</a></li>
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Quy định bảo mật</a></li>
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Quy chế hoạt động</a></li>
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Giải quyết khiếu nại</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-4">
                <h5 class="fw-bold">Ứng viên</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Tính lương Gross - Net</a></li>
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Tìm kiếm công việc IT</a></li>
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Trắc nghiệm tính cách</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-4">
                <h5 class="fw-bold">Nhà tuyển dụng</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Đăng việc làm IT</a></li>
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Tìm kiếm nhân tài</a></li>
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Báo cáo thị trường IT</a></li>
                    <li><a href="#" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;">Tạo tài khoản</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-4">
                <h5 class="fw-bold">Theo dõi chúng tôi tại</h5>
                <div class="mb-3">
                    <a href="#" class="me-2" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="me-2" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;"><i class="bi bi-linkedin"></i></a>
                    <a href="#" class="me-2" style="text-decoration: none; color: black;" style="text-decoration: none; color: black;"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="mb-0">Copyright © CÔNG TY CỔ PHẦN NHÓM 16 / ĐKKD: 031 303 2338 - Cấp ngày: 27/11/2014</p>
        </div>
    </div>
</footer>
