<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/admin-head', {title: "Add Company Account - Admin Panel"}) %>
    </head>
    <body>
        <%- include('../partials/admin-sidebar') %>

        <div class="main-content">
            <h2>Add Company Account</h2>
            <form id="registerForm" onsubmit="handleCreate(event)">
                <p>Fill in the details below to create a new company account:</p>
                <div class="form-group">
                    <label for="companyName">Tên công ty</label>
                    <input
                        type="text"
                        class="form-control"
                        id="companyName"
                        name="companyName"
                        placeholder="Nhập tên công ty"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Nhập email"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Nhập password"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Số điện thoại</label>
                    <input
                        type="tel"
                        class="form-control"
                        id="phoneNumber"
                        name="phoneNumber"
                        placeholder="Nhập số điện thoại"
                        required
                    />
                </div>
                <button class="btn btn-primary" type="submit">Tạo công ty</button>
            </form>
        </div>
        <!-- SweetAlert2 JS -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.19/dist/sweetalert2.min.js"></script>
        <script>
            const handleCreate = (event) => {
                event.preventDefault();

                Swal.fire({
                    title: "Đang thực hiện...",
                    html: "Vui lòng đợi trong giây lát...",
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading(); // Hiển thị vòng quay loading
                    },
                });

                const companyName = document.getElementById("companyName").value;
                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;
                const phoneNumber = document.getElementById("phoneNumber").value;

                fetch("/admin/companies/add", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        companyName: companyName,
                        email: email,
                        password,
                        phoneNumber: phoneNumber,
                    }),
                })
                    .then((response) => {
                        return response.json();
                    })
                    .then((data) => {
                        Swal.close();
                        if (data.success) {
                            Swal.fire({
                                icon: "success",
                                title: "Thành công!",
                                text: "Tạo công ty thành công!",
                                showConfirmButton: false,
                                timer: 1500,
                            }).then(() => {
                                window.location.href = "/admin/companies";
                            });
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Lỗi",
                                text: "Lỗi khi tạo công ty!",
                                showConfirmButton: true,
                            });
                        }
                    });
            };
            document.addEventListener("keydown", function (e) {
                if (e.key === "Enter") {
                    e.preventDefault(); // Ngừng hành động mặc định của Enter, tránh reload trang
                    handleCreate(e);
                }
            });
        </script>
    </body>
</html>
