<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/admin-head', {title: "Add User Account - Admin Panel"}) %>
    </head>
    <body>
        <%- include('../partials/admin-sidebar') %>

        <div class="main-content">
            <h2>Add User Account</h2>
            <p>Fill in the details below to create a new user account:</p>
            <form onsubmit="handleCreate(event)">
                <div class="form-group">
                    <label for="fullName">Fullname</label>
                    <input
                        type="text"
                        class="form-control"
                        id="fullName"
                        name="fullName"
                        placeholder="Enter fullname"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input
                        type="text"
                        class="form-control"
                        id="userName"
                        name="userName"
                        placeholder="Enter user name"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Enter email"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Enter password"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input
                        type="tel"
                        class="form-control"
                        id="phoneNumber"
                        name="phoneNumber"
                        placeholder="Enter phone number"
                        required
                    />
                </div>
                <button class="btn btn-primary" type="submit">Create Account</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.19/dist/sweetalert2.min.js"></script>
        <script>
            const handleCreate = (event) => {
                event.preventDefault();
                Swal.fire({
                    title: "Đang thực hiện...",
                    html: "Vui lòng đợi trong giây lát...",
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading(); // Hiển thị vòng quay loading
                    },
                });
                const username = document.getElementById("userName").value;
                const fullname = document.getElementById("fullName").value;
                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;
                const phoneNumber = document.getElementById("phoneNumber").value;

                fetch("/admin/users/add", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ username, fullname, email, password, phoneNumber }),
                })
                    .then((response) => {
                        return response.json();
                    })
                    .then((data) => {
                        Swal.close();
                        if (data.success) {
                            Swal.fire({
                                icon: "success",
                                title: "Thành công!",
                                text: "Tạo người dùng thành công!",
                                showConfirmButton: false,
                                timer: 1500,
                            }).then(() => {
                                window.location.href = "/admin/users";
                            });
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Lỗi",
                                text: "Lỗi khi tạo người dùng!",
                                showConfirmButton: true,
                            });
                        }
                    });
            };
            document.addEventListener("keydown", function (e) {
                if (e.key === "Enter") {
                    e.preventDefault(); // Ngừng hành động mặc định của Enter, tránh reload trang
                    handleCreate(e);
                }
            });
        </script>
    </body>
</html>
